body{
    background-image: url("../assets/maxresdefault.jpg.webp");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;

}

img{
    display:block;
    margin-left:20px;
    margin-right:50px;
    width:250px;
    height:250px;
    border:5px solid black;
    border-radius:20px;
}

h3{
    background:gold;
    color:rgb(122, 0, 0);
    font-family:"Press Start 2P", sans-serif;
    font-size:40px;
}

h1{
    text-align:center;
    background: linear-gradient(to right, red, rgb(255, 217, 0));
    color:rgb(122, 0, 0);
    font-family:"Press Start 2P", sans-serif;
    font-size:50px;

}

h2{
    text-align:center;
    background: linear-gradient(to right, red, rgb(255, 217, 0));
    color:rgb(122, 0, 0);
    font-family:"press start 2p", sans-serif;
    text-decoration:underline;
}

.p1{
    font-size:30px;
    text-align:center;
    color:rgb(122,0,0);
    background:gold;
    font-family:"press start 2p", sans-serif;
    font-style:italic
}
.p2{
    font-size:30px;
    text-align:center;
    color:rgb(122,0,0);
    background:gold;
    font-family:"press start 2p", sans-serif;
    font-style:italic
}
a{
    font-size:30px; 
    text-align:center;
    background-color:white;
    border-radius:5px;
    
}